@import "mixins";

* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	font-weight: 400;
	color: #028181;
}

nav {
	background: #fafafa;
	padding: 1%;
	a {
		color: inherit;
		font-size: .9em;
	}
}

header {
	padding: 4% 4% 2%;
	text-align: center;
	h1 {
		font-weight: 100;
		font-size: 2.25em;
	}
}

#container {
	margin: 0 2% 2%;
}

#content {
	display: flex;
	flex-wrap: wrap;
}

#target {
	display: flex;
	position: relative;
}

#content li, #target li {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d3eaf4;
	cursor: pointer;
	border-radius: 2px;
	&:before {
	    content: "";
	    display: block;
	    padding-top: 100%;
	}
	@include tablet {
		max-width: 46%;
		min-width: 46%;
	}
	@include mobile {
		max-width: 96%;
		min-width: 96%;
	}
}	

#content li {
	width: auto;
	flex: 1;
	margin: 2%;
}

#target li {
	background: #57adb3;
	color: white;
	font-size: 3em;
	max-width: 21%;
	min-width: 21%;
	margin: 2%;
}


